@media screen {
    /* Footnotes (against core styles) */
    section header {
        background-color: inherit;
        width: auto;
        min-height: initial;
        text-align: initial;
        padding: initial;
        color: initial;
    }

    .cke_button_icon.cke_button__footnotes_icon {
        background-image: url("../vendor/ckeditor-footnotes/icons/footnotes.png");
        background-size: auto;
    }

    .block textarea.full.wysiwyg {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .block textarea.full.wysiwyg,
    .block textarea.full.wysiwyg + [contenteditable=true] {
        height: 288px;
        max-height: initial;
    }

    .asset-form-element .selected-asset {
      display: block;
      align-items: center;
      max-width: 100%;
      min-width: 0;
    }
    .asset-form-element .selected-asset img {
        max-height: 36px;
        max-width: 36px;
    }
}

@media screen and (max-width:640px) {
    section header {
        width: initial;
        float: none;
        text-align: initial;
        position: initial;
        top: 0;
        left: 0;
        padding: 0;
        right: 0;
        z-index: initial;
        min-height: 0;
    }
}
